# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json

# build
main.js
*.js.map
dist

# obsidian
data.json

test-marp-plugin/.obsidian/plugins/*
!test-marp-plugin/.obsidian/plugins/.gitkeep